@page "/"
@using System.Diagnostics
@using Biz.Person
@using HIH.Core.Services

<h1>Hello, world!</h1>

@*<PeoplePanel People="people" />*@
<TestLib.Component1></TestLib.Component1>

@code
{ 
    [Inject]
    public IPersonService PersonService { get; set; }

    public List<Person> people;

    protected override void OnInitialized()
    {
        people = PersonService.GetSamplePeople().ToList<Person>();
        Debug.WriteLine(people[0].Title);

        base.OnInitialized();
    }
}
