@namespace  HIH.Components

<div class="c1WrapCardsFlex">
    @foreach (var person in People)
    {
        <PersonBox Person="@person" />
    }
</div>

@code
{
    [Parameter]
    public List<Person> People { get; set; }
}

