@namespace HIH.Components


<div class="c1Card">
    <div class="c1CardContainer">
        <div class="c1cardFront">
            <div class="c2CardHeader">
                <div class="c2HeadRow1">
                    <TagBox Tags="@allTags"/>
                </div>
                <div class="c2HeadRow2">
                    <header class="t1CardTitle">@Person.Title</header>
                </div>
                <div class="c2HeadRow3">
                    <span class="t1CardSubtitle">@Person.Age</span>
                </div>
                <div class="c2HeadRow4">
                    <span class="c1Ratings">****</span>
                </div>
            </div>
            <div class="c2CardBottom">
            </div>
        </div>
    </div>
</div>
